<%- contentFor('main_content') %>
<% include ../_widgets/site/banner %>

<div class="contact">
    <div class="container">
        <div class="contact-head">
            <h2>Cart Checkout</h2>
            <form id="checkout_form" method="post">
                <div class="clearfix"></div>
                <table class="table table-bordered table-striped table-hover table-products">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Image</th>
                            <th>Description</th>
                            <th>Quantity</th>
                            <th>Price ($)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (cart) {
                            cart.forEach((product, i) => { %>
                        <tr>
                            <td><%= i+1 %></td>
                            <td><%= product.name %></td>
                            <td><img src="/images/<%= product.image %>"></td>
                            <td><%= product.description %></td>
                            <td><%= product.quantity %></td>
                            <td><%= product.price %></td>
                        </tr>
                        <% }); } %>
                        <tr>
                            <td colspan="4" class="center">Total</td>
                            <td><input type="submit" value="Payment"></td>
                            <td><%= data.cart_price %> $</td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>