<div class="content">
    <div class="container">
        <div class="top-games">
            <h3>Top Games</h3>
            <span></span>
        </div>
        <div class="top-game-grids">
            <ul id="flexiselDemo1">
                <% top_games.forEach(game => { %>
                <li id = '<%= game._id %>'>
                    <div class="game-grid">
                        <h4><%= game.name %></h4>
                        <p><%= game.description %></p>
                        <a href="/site/detail/<%= game._id %>">
                            <img src="/images/product/<%= game.image %>" class="img-responsive" alt=""/>
                        </a>
                    </div>
                    <button class="btn btn-primary btn-block" id="up_button" onclick="updateCart('<%= game._id %>')">Buy (<%= game.price %> $)</button>
                </li>
                <% }); %>
            </ul>
        </div>
    </div>
</div>

<script>
$(window).load(function() {
    $("#flexiselDemo1").flexisel({
        visibleItems: 4,
        animationSpeed: 1000,
        autoPlay: true,
        autoPlaySpeed: 3000,
        pauseOnHover: true,
        enableResponsiveBreakpoints: true,
        responsiveBreakpoints: {
            portrait: {
                changePoint: 480,
                visibleItems: 1
            },
            landscape: {
                changePoint: 640,
                visibleItems: 2
            },
            tablet: {
                changePoint: 768,
                visibleItems: 3
            }
        }
    });
});
</script>
<script src="/js/jquery.flexisel.js"></script>