<div class="modal fade in" id="cart-modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4><span class="glyphicon glyphicon-shopping-cart"></span> Cart</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-striped table-hover table-products cart-modal">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Name</th>
                            <th>Image</th>
                            <th>Description</th>
                            <th>Quantity</th>
                            <th>Price ($)</th>
                        </tr>
                    </thead>
                    <tbody id="products_in_cart">
                        <% if (cart) {
                            cart.forEach((product, i) => { %>
                        <tr>
                            <td><%= i+1 %></td>
                            <td><%= product.name %></td>
                            <td><img src="/images/product/<%= product.image %>"></td>
                            <td><%= product.description %></td>
                            <td class="actions">
                                <button onclick="updateCart('<%= product._id %>', -1)"><span class="glyphicon glyphicon-minus"></span></button>
                                <input class="quantity-input" value="<%= product.quantity %>" disabled>
                                <button onclick="updateCart('<%= product._id %>')"><span class="glyphicon glyphicon-plus"></span></button>
                            </td>
                            <td><%= product.price %></td>
                        </tr>
                        <% }); } %>
                        <tr>
                            <td colspan="4" class="center">Total</td>
                            <td colspan="2"><%= cart_price %> $</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
                <a href="/site/cart-checkout" class="btn btn-success">Checkout <span class="glyphicon glyphicon-ok"></span></a>
            </div>
        </div>
    </div>
</div>

<script>
function updateCart(id, quantity = 1) {
    var data = {
        id: id,
        quantity: quantity
    }
    $.post('/site/update-cart', data)
        .success(cart => {
            // Update Cart icon
            cart_quantity.innerHTML = Number(cart_quantity.innerHTML) + quantity;

            // Update Cart table
            var products_in_cart_html = '';
            var cart_price = 0;
            cart.forEach((product, i) => {
                products_in_cart_html +=
                    `<tr>
                        <td>${i+1}</td>
                        <td>${product.name}</td>
                        <td><img src="/images/product/${product.image}"></td>
                        <td>${product.description}</td>
                        <td class="actions">
                            <button onclick="updateCart('${product._id}', -1)"><span class="glyphicon glyphicon-minus"></span></button>
                            <input class="quantity-input" value="${product.quantity}" disabled>
                            <button onclick="updateCart('${product._id}')"><span class="glyphicon glyphicon-plus"></span></button>
                        </td>
                        <td>${product.price}</td>
                    </tr>`
                ;
                cart_price += product.price;
            });
            products_in_cart_html +=
                `<tr>
                    <td colspan="4" class="center">Total</td>
                    <td colspan="2">${cart_price} $</td>
                </tr>`
            ;
            products_in_cart.innerHTML = products_in_cart_html;
        });
    ;
}
</script>