<%- contentFor('main_content') %>

<form  method="POST" novalidate="">

<table class="table table-striped responsive-utilities jambo_table bulk_action">
    <thead>
        <tr>
            <th>Property</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><label for="name">Name:</label></td>
            <td><input type="text" id="name" name="name" value="<%= product.name %>"/></td>
        </tr>
        <tr>
            <td><label for="number">Price:</label></td>
            <td><input type="number" id="price" name="price" value="<%= product.price %>"/></td>
        </tr>
        <tr>
            <td><label for="product_code">Type:</label></td>
            <td><input type="text" id="name" name="name" value="<%= product.type %>"/></td>
        </tr>
        <tr>
            <td><label for="product_code">Product Code:</label></td>
            <td><input type="number" id="product_code" name="product_code" value="<%= product.product_code %>"/></td>
        </tr>
        <tr>
            <td>Pictrue: </td>
            <td><img src="/admin/images/<%= product.picture %>"></td>
        </tr>
        <tr>
            <td>Status: </td>
            <td>
                <select name="status">
                    <% status_options.forEach(opt => { %>
                        <option value="<%= opt.value %>" <%= (product.status == opt.value) ? 'selected' : '' %>><%= opt.label %></option>
                    <% }) %>
                </select>
            </td>
        </tr>
        <tr>
        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-md-6 col-md-offset-3">
                <a href="/admin/product" class="btn btn-default">
                    <span class="fa fa-chevron-left"></span> Back
                </a>
                <button class="btn btn-<%= product._id ? 'primary' : 'success' %>">
                    <span class="fa fa-<%= product._id ? 'pencil' : 'plus' %>"></span>
                    <%= product._id ? 'Update' : 'Add' %>
                </button>
            </div>
        </div>
        </tr>
    </tbody>
</table>
</form>